<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../aba-widget/aba-widget.html">
<link rel="import" href="../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../abas-config/abas-config-meta.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item-body.html">
<link rel="import" href="../paper-chip/paper-chip.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">


<dom-module id="abas-dashboardadmin-users-widget">
    <template>
        <abas-config-meta data="{{configuration}}"></abas-config-meta>
        <custom-style>
            <style is="custom-style" include="abas-widget-style">
                :host {
                    display: block;
                    background: var(--abas-black-800);
                }

                [slot="content"] {
                    height: 100%;
                    padding: 20px;
                }

                .green-pill {
                    border-radius: 5px;
                    --paper-chip-background-color: var(--green, #1bbba3);
                    --paper-chip-secondary-text-color: white;
                    min-width: fit-content;
                }

                .hidden {
                    display: none;
                }

                .secondary {
                    margin-left: 10px;
                }

                paper-listbox{
                    position: absolute;
                    height: calc(100% - 130px); 
                    width: calc(100% - 47px);
                    overflow-y:scroll;
                    border-style: inset;
                    background: whitesmoke;
                }

                paper-item-body{
                    min-width: fit-content;
                }

                paper-item{
                    border-style: solid;
                    border-color: whitesmoke;
                    background: white;
                }

                paper-button {
                    background-color: #91e4d7;
                    min-width: fit-content;
                }

                paper-button:hover {
                    background-color: #4fbdac;
                }         

            </style>
        </custom-style>
        <aba-widget>
            <div slot="content">
                <div id="usersView">
                    <paper-input label="[[localize('filter')]]" value="{{_filter}}"></paper-input>
                    <paper-listbox>
                        <template is="dom-repeat" items="[[_filteredUsers]]">
                            <paper-item>
                                <paper-item-body two-line>
                                    <div>[[item.email]]</div>
                                    <div secondary class="secondary">[[item.user_id]]</div>
                                    <div secondary class="secondary">[[item.username]]</div>
                                </paper-item-body>
                                <div>
                                    <template is="dom-repeat" items="[[item.groups]]" as="group">
                                        <paper-chip>[[group.name]]</paper-chip>
                                    </template>
                                </div>
                                <paper-chip class='green-pill' on-tap='_openGroupViewButtonTapped'>+/-</paper-chip>
                            </paper-item>
                        </template>
                    </paper-listbox>
                </div>
                <div id="groupsView">
                    <paper-button raised on-tap="_backToUsersView">[[localize('back')]]</paper-button>
                    <paper-listbox>
                        <template is="dom-repeat" items="[[groups]]" as="group">
                            <paper-item role="menuitemcheckbox">
                                <paper-item-body two-line>
                                    <div>[[group.name]]</div>
                                    <div secondary>[[group.description]]</div>
                                    <div secondary>[[group.id]]</div>
                                </paper-item-body>
                                <paper-checkbox checked="[[_userInGroup(group, userEditorModel)]]" on-tap="_groupCheckAction"></paper-checkbox>
                            </paper-item>
                        </template>
                    </paper-listbox>
                </div>
            </div>
        </aba-widget>
    </template>

    <script>
        class AbasDashboardadminUsersWidget extends ABAS.WidgetBehavior(Polymer.Element) {
            constructor() {
                super();
                this._boundGroupModelChangeListener = this.modelInit.bind(this);
            }
            static get is() { return 'abas-dashboardadmin-users-widget' }
            static get properties() {
                return {
                    users: {
                        type: Array
                    },
                    _filteredUsers: {
                        type: Array
                    },
                    _filter: {
                        type: String,
                        observer: "_filterUsers"
                    },
                    groups: {
                        type: Array
                    },
                    modelState: { type: String, value: 'unInitialized' },
                    configuration: {
                        observer: '_configChanged'
                    },
                    views: {
                        type: Array
                    },
                    userEditorModel: {
                        type: String,
                        value: ''
                    },
                    redrawGroupToggles: {
                        type: Boolean,
                        value: true
                    },
                    redrawUsers: {
                        type: Boolean,
                        value: true
                    }
                };
            }
            static get observers() {
                return ['modelsSet(users, groups)']
            }

            modelInit() {
                this.loadUsers(1, []);
                this.loadGroups();
                // this.set('redrawUsers', !this.redrawUsers);

            }
            modelsSet(users, groups) {
                if (!users) return;
                if (!groups) return;
                this.mergeModels()
            }

            mergeModels() {
                this.users.forEach(user => {
                    let usergroups = this.groups.filter(group => {
                        return group.users.includes(user.email)
                    });
                    user.groups = usergroups;
                });
                this._filterUsers()
            }

            _filterUsers() {
                if (!this.users) return
                let result = this.users.filter( user => {
                    let username = _.get(user, 'username', '').toUpperCase();
                    let user_id = _.get(user, 'user_id', '').toUpperCase();
                    let email = _.get(user, 'email', '').toUpperCase();
                    return username.includes(this._filter.toUpperCase()) || user_id.includes(this._filter.toUpperCase()) || email.includes(this._filter.toUpperCase());
                })
                this.set('_filteredUsers', result)
            }

            loadUsers(page, users) {
                return auth0Fetch(`${this.configuration.api.adminBaseURL}/admin/api/v1/users?pageNumber=${page}&amountPerPage=100`, {
                    method: 'GET'
                }).then(response => {
                    if (!response.ok) throw response
                    return response.json()
                }).then(result => {
                    result.items.forEach( item => {
                        users.push(item)
                    })
                    // Load next page, if there are more users
                    if (users.length < result.total) this.loadUsers(page += 1, users);
                    // Else all users have been loaded.
                    else {
                        users = _.sortBy( users, item => { return _.get(item, 'email', '').toUpperCase() } );
                        this.set('users', users)
                        this.set('_filteredUsers', JSON.parse(JSON.stringify(users)))
                        this.set('modelState', 'ready')
                    }
                }).catch(error => {
                    this.set('errorMessage', 'failed to load groups')
                    this.set('modelState', 'error')
                })
            }

            loadGroups() {
                return auth0Fetch(`${this.configuration.api.dashboardBaseURL}/api/v2/admin/groups`, {
                    method: 'GET'
                }).then(response => {
                    if (!response.ok) throw response
                    return response.json()
                }).then(groups => {
                    groups = _.sortBy( groups, item => {return item.name.toUpperCase()} )
                    this.set('groups', groups)
                    this.set('modelState', 'ready')
                }).catch(error => {
                    this.set('errorMessage', 'failed to load groups')
                    this.set('modelState', 'error')
                })
            }

            //Add UI Listeners
            connectedCallback() {
                super.connectedCallback();
                this.addEventListener('settings-closed', this._boundfireUpdateAttribute);
                //load translation
                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
                window.addEventListener('abas-dashboardadmin-groups-widget:groupmodelChanged', this._boundGroupModelChangeListener);
                this.views = [this.$.usersView, this.$.groupsView];
                this.hideAllViews();
                this.show(this.$.usersView);
            }
            disconnectedCallback() {
                super.disconnectedCallback();
                this.removeEventListener('settings-closed', this._boundfireUpdateAttribute);
                window.removeEventListener('abas-dashboardadmin-groups-widget:groupmodelChanged', this._boundGroupModelChangeListener)
            }

            _groupCheckAction(event) {
                let addUser = event.target.checked;
                let group = event.model.group;

                if (addUser) {
                    group.users.push(this.userEditorModel)
                } else {
                    group.users = group.users.filter( user => user !== this.userEditorModel)
                }

                this.postGroup(group)
                    .then(() => {
                        this.modelInit();
                    })
                    .then( () => {
                        let event = new CustomEvent(AbasDashboardadminUsersWidget.is + ':groupmodelChanged', {
                            bubbles: true,
                            composed: true,
                            detail: {}
                        });
                        window.dispatchEvent(event)
                    })
            }

            postGroup(group) {
                return auth0Fetch(`${this.configuration.api.dashboardBaseURL}/api/v2/admin/groups`, {
                    method: 'POST',
                    headers: new Headers({
                        "content-type": "application/json"
                    }),
                    body: JSON.stringify(group)
                }).then(response => {
                    if (!response.ok) throw response
                }).catch(error => {
                    this.set('errorMessage', 'post groups failed')
                })
            }

            _configChanged(nw, old) {
                if (nw) {
                    this.modelInit()
                }
            }

            _userInGroup(group, userEditorModel) {
                return group.users.includes(userEditorModel);
            }

            _openGroupViewButtonTapped(event) {
                this.set('userEditorModel', event.model.item.email);
                this.hideAllViews();
                this.show(this.$.groupsView)
            }

            _backToUsersView() {
                this.hideAllViews();
                this.show(this.$.usersView)
                this._filterUsers()
            }

            hideAllViews() {
                this.hide(...this.views)
            }
            hide(...nodes) {
                nodes.forEach(element => {
                    element.classList.add('hidden');
                });
            }
            show(...nodes) {
                nodes.forEach(element => {
                    element.classList.remove('hidden');
                });
            }
        }
        customElements.define(AbasDashboardadminUsersWidget.is, AbasDashboardadminUsersWidget);
    </script>
</dom-module>